html {
    font-size: 10px;
    font-family: 'Irish Grover', cursive;
    background-image: url("images/green.jpg");
}



body {
    margin:0px;
    text-align: center;
    font-size: 2rem;
    color: white;
}

h1 { 
    color: goldenrod;
    text-shadow: 0.1rem 0.1rem black;
}

p {
    font-size: 3rem;
    border-bottom: 0.3rem solid black;
    margin-bottom: 5rem;
    padding-bottom: 1rem;
}

#sub-head {
    margin-bottom: 0px;
}

.players-box, .buttons-box {
    text-align:left;
}
.words {
    margin:0px;
    max-height: 100%;
}

.words h2 {
    margin:0px;
}
.players-box {
    display: flex;
    grid-template-columns: 60% 1fr;
    height: 20rem;
    justify-content: flex-end;

}

.players-box img {
    flex: 1;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    vertical-align: top ;
    padding-left: 15%;
}


.words {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*
.players-box img{
    grid-column: 2 / 3;
    grid-row: 1;
    float: right;
    padding-top: 1rem;
    max-width: 100%;
    max-height: 50%;
    
}

#dealer {
    grid-column: 1 / 2;
    grid-row: 1
}

#player {
    grid-column: 1 / 2;
}

*/
.buttons-box {
    margin-top: 1rem;
    border-top: 0.2rem solid black;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

button {
    flex: 150px;
    font-size: 3rem;
    font-family: 'Irish Grover', cursive;
    color: white;
    background-color: rgb(3, 99, 3);
    border: 0.5rem solid black;
    border-radius: 1rem;
}

.chip-box {
    text-align: left;
}


.bet-box {
    display: flex;   
}

.bet-box button {
    background-image: url("images/chips.jpg");
    border-radius: 50%;
    height: 85px;
    width: 20px;
}

.bet-box :nth-child(1) {
    background-image: url("images/chip-1.jpg");
    background-position: center;
    background-position: center;
    background-size: 100px;
}

@media screen and (min-width: 850px) {
    html {
        font-size: 20px;
    }
    body {
        max-width: 70%;
        margin: auto;
    }
    .buttons-box {
        flex-direction: row-reverse;
        margin-top: 1rem;
    }
    .buttons-box :nth-child(2) {
        order: -1;
    }

    .players-box {
        display: flex;
        grid-template-columns: 60% 1fr;
        height: 20rem;
    
    }
    
    .players-box img {
        flex: 1;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        padding-left: 20%;
    
    
    }
    
    .words {
        flex: 1;
    }
}
/*
    .players-box {
        display:flex;
        flex-wrap: wrap;
        height:100%;
        
    }
    img {
        object-fit: contain;
        overflow: hidden;
        max-height: 18%;
        max-width: 18%;
        flex: 3;
    }

    .players-box h2 {
        flex: 1;
    }
}