
@import url("fonts.css");
@import "general.css";
@import "mobile.css";

.message-box {
    font-size: 0.8rem;
    width: 90%;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    border: 4px solid #3061E3;
    border-radius: 1rem;
    background-color:black;
    color: white;
    text-align: center;
}

.message-box h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.player-box {
    margin-bottom: 0rem;
}

.player-card-box{ 
    display: flex;
    flex-direction: row;
}
.player-lower {
    border-top:4px solid black;
    margin-bottom: 0rem;
    margin-top:1rem;
    height:100%;
    display:flex;
    justify-content: space-around;
}

button {
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 50%;
    border: 4px solid black;
    font-family: 'Silkscreen';
    font-size: 1.5rem;
    background-color: goldenrod;
}

.bet-box, .buttons-box, .chip-box {
    flex: 1;
}

.buttons-box {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);

}

#draw-btn {

    grid-column: 6 / 9;
    grid-row: 1
}

#stand-btn {
    background-color:red;
    grid-column: 6 / 9;
    grid-row: 3
}


#newgame-btn {
    background-color: green;
    grid-column: 9 / 12;
    grid-row: 2
}

.chip-box {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.chip-box h2 {
    flex: 1;
    padding-top: 2rem;
}



.bet-box {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}

#one {
    background-color: green;
    grid-column: 9 / 12;
    grid-row: 2
}

#ten {
    background-color:red;
    grid-column: 6 / 9;
    grid-row: 3
}

#onehundred {
    grid-column: 6 / 9;
    grid-row: 1
}

#fivehundred {
    background-color:purple;
    grid-column: 5 / 6;
    grid-row:2;
}

@media screen and (max-width: 1100px) {
    html {
        font-size: 80%;
    }
    body {
        width: 100%;
    }
    
    main {
        width: 100%;
        border-top: 4px solid black;
        border-radius: 0px;
    }

    .player-lower button {
        width: 3.2rem;
        height: 3.2rem;
        border: 4px solid black;
        font-family: 'Silkscreen';
        font-size: 1.5rem;
        background-color: goldenrod;
    }
     .player-lower h2 {
         font-size: 1.3rem;
     }
    .bet-box {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        columns: 2;
        gap: 10px;
    }

    #one, #ten, #onehundred, #fivehundred, #draw-btn, #stand-btn, #newgame-btn {
        border-radius: 0rem;
        width: 100%;

    }

    .buttons-box {
        display:flex;
        gap: 10px;
        flex-direction: column;
    }

    .buttons-box button {
        height:100%;
    }


    
}

