
@import url("fonts.css");
@import "general.css";
@import "mobile.css";

.message-box {
    font-size: 0.8rem;
    width: 90%;
    margin-top:1.5rem;
    margin-bottom:2rem;
    border: 4px solid blue;
    border-radius: 1rem;
    background-color:black;
    color: white;
    text-align: center;
}

.message-box h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}




.player-box {
    margin-bottom: 0rem;
}
.player-lower {
    border-top:4px solid black;
    margin-bottom: 0rem;
    margin-top:1rem;
    height:100%;
    display:flex;
    justify-content: space-around;
}

.bet-box, .buttons-box, .chip-box {
    flex: 1;
}

.buttons-box {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);

}

#draw-btn {

    grid-column: 6 / 9;
    grid-row: 1
}

#stand-btn {
    background-color:red;
    grid-column: 6 / 9;
    grid-row: 3
}


#newgame-btn {
    background-color: green;
    grid-column: 9 / 12;
    grid-row: 2
}

.chip-box {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.chip-box h2 {
    flex: 1;
    padding-top: 2rem;
}



.bet-box {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}

#one {
    background-color: green;
    grid-column: 9 / 12;
    grid-row: 2
}

#ten {
    background-color:red;
    grid-column: 6 / 9;
    grid-row: 3
}

#onehundred {
    grid-column: 6 / 9;
    grid-row: 1
}

#fivehundred {
    background-color:purple;
    grid-column: 5 / 6;
    grid-row:2;
}

@media screen and (max-width: 1100px) {
    html {
        font-size: 80%;
    }
    body {
        width: 100%;
    }
    
    main {
        width: 100%;
        border-top: 4px solid black;
        border-radius: 0px;
    }
    .bet-box {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(13, 1fr);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .buttons-box {
        display:flex;
        flex-direction: column;
    }

    
}

